<p>registro works!</p>

<label>
  <input type='text'  id="key" >
</label>
<label>
  userId
</label>

<label>
  <input type='text'  id="apellido" >
</label>
<label>
  Apellido
</label>

<label>
  <input type='text' id="edad" >
</label>
<label>
  Edad
</label>

<label>
  <input type='text' id="estatura" >
</label>
<label>
  Estatura
</label>

<label>
  <input type='text' id="nombre" >
</label>
<label>
  Nombre
</label>


<label>
  <input type='text' id="password" >
</label>
<label>
  Password
</label>

<label>
  <input type='text' id="peso" >
</label>
<label>
  Peso
</label>

<label>
  <input type='text' id="sexo" >
</label>

<label>
  Sexo
</label>


<label>
  <input type='text' id="rol" >
</label>

<label>
  Rol
</label>

<br>

<label>--------------------------------------------------------</label>

<br>
<label>-----------------------Fecha---------------------------</label>
<input type='text' id="fecha" >


<button type='button' (click)="insertUser()">Registrar</button>
<button type="button" (click)="get_Data4User()">Imprimir Reporte de usuario espefico</button>
<button type="button" (click)="viewAnSpecifi()">Imprimir usuario especifco</button>
<button type="button" (click)="viewAllusers()">Imprimir todos los usuario</button>

